*{
  margin :0;
  padding: 0;
}
body{
  /* background-image: url(./images/background.jpg); */

  background-image: radial-gradient(circle, #FFFFE0, #EEE8AA);
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
  opacity: 10;
}
/* #root {
  z-index: 2;
} */